:root {
  --color-white: #fff;
  --color-white-opacity: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-main-dark: #42413c;
  --color-second-dark: #2a2626;
  --color-opacity-dark: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

html {
  max-width: 100%;
}

body {
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  position: relative;
  width: 1110px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

header {
  position: relative;
  background-color: rgba(245, 244, 240, 90%);
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

header::before
,.ikea-effect::before
,.premature-optimization::before
,.distortion-of-novelty::before
,.hyperbolic-depreciation::before
,.errors-in-planning::before 
{
  content: "";
  position: absolute;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.heading-orange {
  color: var(--color-main);
}

.heading-white {
  color: var(--color-white);
}

.heading-second-dark {
  color: var(--color-second-dark);
}

.container-header {
  display: flex;
  flex-direction: column;
}

header h1 {
  margin: 0;
}

.header-images {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.header-text-block {
  margin-top: 185px;
  display: flex;
}

.header-text-block-one {
  width: 50%;
  margin-right: 15px;
}

.header-text-block-two {
  width: 50%;
  margin-left: 15px;
}

.header-link {
  margin-top: 24px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 12px 24px;
  font-weight: 700;
  font-family: "Open Sans", serif;
  background: var(--color-main);
  text-decoration: none;
}




main {
  margin: 0 auto;
  overflow-x: hidden;
}

.text-align-center {
  text-align: center;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.m-0{
  margin: 0;
}




.container-prewiew {
  padding-bottom: 0;
}

.wrap-pr-img {
  position: relative;
  height: 417px;
}

.link-pr-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: inherit;
  z-index: 10;
}

.pr-img {
  vertical-align: middle;
  object-fit: cover;
  width: 919px;
  height: 517px;
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.navigation {
  background-color: var(--color-main-dark);
}

.navigation nav {
  margin-top: 100px;
}

.navigation nav ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 20px;
}

.navigation nav li {
  width: 350px;
  flex-shrink: 0;
  box-sizing: border-box;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation-title {
  font-size: 52px;
  line-height: 1.2em;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
}

.navigation-link {
  padding: 24px;
  background-color: var(--color-light);
  box-sizing: border-box;
}

.nav-item-title p {
  margin: 0;
}

.navigation-number {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 64px;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  box-sizing: border-box;
}

.navigation-link h3 {
  margin-bottom: 16px;
}




.ikea-effect {
  min-height: 905px;
  width: 100%;
  position: relative;
  background: rgba(245, 244, 240, 90%);
}

.ikea-effect-header {
  position: relative;
  display: flex;
  column-gap: 30px;
  margin-bottom: 100px;
}

.wrap-ikea-img img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  vertical-align: middle;
}

.ikea-effect-text p {
  color: var(--color-opacity-dark);
  font-size: 24px;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
}

.ikea-effect-text h2 {
  margin-bottom: 30px;
}

.ikea-effect-footer-title {
  background-color: #b09a81;
  color: #f5f4f0;
  font-family: "Open Sans", serif;
  font-weight: 700;
  padding: 0 10px;
  height: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

.ikea-effect-footer-title p{
  margin: 0;
}

.ikea-effect-footer-column {
  column-count: 2;
  column-gap: 30px;
}

.ikea-effect-footer-column p {
  margin-top: 0;
  break-inside: avoid;
  color: #2A2626;
}




.premature-optimization {
  position: relative;
  background: rgba(176, 154, 129, 100%);
  min-height: 855px;
}

.premature-optimization-header {
  display: flex;
  column-gap: 30px;
  margin-bottom: 100px;
}

.wrap-premature-img img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  vertical-align: middle;
}

.premature-optimization-text {
  color: #fff;
}

.premature-optimization-text p {
  font-size: 24px;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
  color: #D7CCC0;
}

.premature-optimization-text h2 {
  margin-bottom: 30px;
}

.premature-optimization-footer-title {
  text-transform: uppercase;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0 10px;
  margin-bottom: 20px;
  color: var(--color-brown);
  background: var(--color-white);
}

.premature-optimization-footer-column {
  color: var(--color-white);
  column-count: 2;
  column-gap: 30px;
}

.premature-optimization-footer-column p {
  margin-top: 0;
  break-inside: avoid;
}





.distortion-of-novelty {
  position: relative;
  min-height: 880px;
  background-color: var(--color-light);
}

.dof-header {
  display: flex;
  column-gap: 30px;
  margin-bottom: 100px;
}

.dof-text {
  color: #2A2626;
}

.dof-text p{
  color: #908d8b;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

.dof-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  vertical-align: middle;
}




.hyperbolic-depreciation {
  position: relative;
  min-height: 880px;
  background-color: rgba(176, 154, 129, 100%);
}

.hd-header {
  display: flex;
  column-gap: 30px;
  margin-bottom: 100px;
}

.hd-text {
  color: #fff;
}

.hd-text p {
  font-size: 24px;
  color: #D7CCC0;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
}

.hd-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  vertical-align: middle;
}




.errors-in-planning {
  position: relative;
  min-height: 919px;
  background-color: #f5f4f0;
}

.ep-header {
  display: flex;
  column-gap: 30px;
  margin-bottom: 100px;
}

.ep-img {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
  vertical-align: middle;
}

.ep-text {
  color: #2a2626;
}

.ep-text p{
  font-size: 24px;
  font-family: Neucha, serif;
  font-weight: 400;
  font-style: normal;
  color: #908d8b;
}




.footer-block {
  background-color: #42413c;
  padding: 38px 55px 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-form {
  width: 50%;
}

.form-block {
  width: 100%;
  position: relative;
  display: flex;
}

.form-block-input {
  box-sizing: border-box;
  border: none;
  padding: 15px;
  height: 50px;
  width: calc(100% - 70px);
}

.form-block-button {
  box-sizing: border-box;
  width: 70px;
  height: 50px;
  background-color: #fe8a02;
  border: none;
  padding: 0;
  position: relative;
}

.form-block-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-image: url("../images/send.svg");
  background-repeat: no-repeat;
  object-fit: contain;
}

.footer-form p{
  font-size: 18px;
  line-height: 1;
}

.footer-form span {
  font-size: 12px;
}

.footer-form a {
  color: inherit;
}

.footer-contacts {
  text-align: center;
  font-size: 14px;
}

.footer-contacts a {
  color: #1085c5;
}